.gray{
    color:gray;
}

.large {
    font-size: 4em;
}
ul {
    list-style-type: none;
    margin: 0;padding: 0;

    li {
        background: rgb(238, 238, 238);
        padding: 2em;
        border-radius: 4px;
        margin-bottom: 7px;
        display: grid;
        grid-template-columns: 90px auto;

        p {
            font-weight: bold;
            margin-left: 10px;
        }

        img {
            border-radius: 50%;
            width: 100%;
        }
        
    }
    
    li:nth-child(even) {background:#F8F8F8}
    li:nth-child(odd) {background: green}
}

.name{
    margin-top: 38px;
}

.email{
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 500px auto;
}
.web{
    margin-top: 0px;
    margin-bottom: 0px;
    display: grid;
    grid-template-columns: 500px auto;
}