<!-- <h1 [class.gray] ="h1Style">Home</h1> -->

<!-- <h1 [ngClass]="{
    'gray': h1Style,
    'large': !h1Style
}">Home</h1> -->

<!-- <h1 [ngStyle]="{
    'color': h1Style ? 'gray' : 'black',
    'font-size': !h1Style ? '1em' : '4em'
  }">Home</h1>
<button (click)="firstClick()">Click me</button> -->

<h1>Meet The Team </h1>

<ul *ngIf="users">
  <li *ngFor="let user of users.data">
    <img [src]="user.avatar">
    <p class="name">{{user.first_name}} {{user.last_name }}</p>
    <p class="email"> email: {{user.email}}</p><br>
    <p class="web"> website: {{user.website}}</p>
  </li>
</ul>